*{
  padding: 0;
  margin: 0;
}
.body{
  background-color: #141414;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box{
  background-color: black;
  width: 400px;
  height: 600px;
  margin:30px auto;
  text-align: center;
  border-radius: 10px;
}
.details{
  background-color: transparent;
}
.picture{
  background-color: transparent;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 30px 30px 30px 30px;
    margin-top: 30px;
 
}
 div {
  margin: 0;
  padding: 0;
} 
span.uyo{
  display: inline-block; 
  color: #F6F6F6;
 margin: 10px 130px;
}
 div .ak{
  display: inline-block;
  font-size: large;
  color: white;
   background-color: #7f291c;
    margin: 4% 21% 2% 21% ;
    border: 2px solid #7f291c;
    border-radius: 10px;
    width: 40%;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: x-large;
   box-shadow: 2px 2px 40px #D1190D ;
}
span.reader{
  color: white;
}
a{
  text-decoration: none;
  color: white;
  display: block;
   border: 1px solid #7f291c;
    background-color: #7f291c;
    margin: 8% 40px 8% 40px;
    width: 70%;
    min-width: 0;
    text-align: center;
    padding: 10px;
    line-height: 25px;
    border-radius: 10px;
    pointer-events: auto;
    position: relative;
    z-index: 1;
    width: 100%;
     box-sizing: border-box;
     
     
}

a:hover{
  background-color: #D1190D;
  cursor: pointer;
 
}
.border {
  pointer-events: auto;
  width: 80%;
 
}

@media (max-width: 1439px) {
  .box{
    width: 400px;
    padding: 2.5rem;
     margin: 1% auto;
  }
  span.uyo{
    display: inline-block;
    color: white;
    margin-top: 5px;
  }

 
}
@media (max-width: 1279px) {
  .box{
    width: 400px;
    padding: 1rem;
     margin: 1% auto;
  }
   span.uyo{
    display: inline-block;
    color: white;
     margin-top: 5px;
  }
}
@media (max-width: 1023px) {
  .box{
    width: 400px;
    min-width: 240px;
    padding: 1.5rem;
     margin: 2% auto;
  }
   span.uyo{
    display: inline-block;
    color: white;
    margin-top: 5px;
    
  }
}

@media (max-width: 767px) {
  .box{
    width: 400px;
    min-width: 160px;
    padding: 1rem;
     margin: 2% auto;
  }
  span.uyo{
    display: inline-block;
    color: white;
     margin-top: 7px;
  }
}

@media (max-width: 479px) {
  .box{
    width: 400px;
    padding: 0.5rem;
     margin: 2% auto;
  }
   span.uyo{
    display: inline-block;
    color: white;
    margin-top: 5px;
  }
}
@media (min-width: 1440px) and (max-width: 1962px) {
  .box {
     width: 450px;
     margin: 2% auto;
     padding: 2.5rem;
    
  }
  span.uyo{
    color: white;
    
  }
}
